.card {
  position: relative;
  padding-left: 40px;
  margin: 7px;
  width: 48%;
  height: 300px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  border: 3px solid var(--midnight);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardTitle {
  width: 70%;
  transition: width 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: var(--midnight);
}

.cardTitle h1 {
  font-size: 30px;
  font-weight: 700;
}

.cardTitle h3 {
  font-size: 22px;
  padding-top: 8px;
}

.card:hover .cardTitle {
  width: 50%;
}

.cardContent {
  width: 0;
  opacity: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; /* Рівномірний розподіл контенту */
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: var(--midnight);
  color: white;
  transform: translateX(100%);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .cardContent {
  width: 40%;
  opacity: 1;
  transform: translateX(0);
}

.cardDescription {
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
  color: white;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}
